.sign-in-and-sign-up {
	width: 100vw;
	display: flex;
	justify-content: space-between;
	margin: 30px auto;
	  background-color: #e6e6e6;
	@media screen and (max-width:500px) {
   		flex-direction:column;}
   		width:100vw;
}